@import url('Discord_Common.css');


/* body {
  background-color: #5865f2;;
} */

/* header style */
.wrap {
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  font-weight: 700;
  /* 헤더 아래 라인 없는 페이지는 아랫줄 삭제 하세요 */
  /* border-bottom: 1px solid #ccc; */
  z-index: 9999;
}
header .inner-header {
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-header .logo img {
  width: 150px;
}
header .inner-header h1 {
  flex: 1;
}
header .inner-header .gnb {
  flex: 8;
}
header .inner-header .login {
  text-align: right;
  flex: 1;
  padding: 0 20px;
}
header .inner-header .login .login-txt {
  width: 40px;
  padding: 10px 20px;
  color: #111;
  background: #fff;
  border-radius: 20px;
}
header .inner-header .login:hover .login-txt {
  color: #5865f2;
  box-shadow: 1px 1px 5px #123;
}
header .inner-header .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .inner-header .gnb ul li {
  padding: 20px;
}
header .inner-header .gnb ul li a:hover {
  text-decoration: underline;
}












/* footer style */
footer {
  background: #23272A;
  color: #fff;
}

footer .fnb {
  width: 84%;
  margin: 0 auto;
  padding: 50px 0 30px 0;
  border-bottom: 1px solid #5865f2;

  display: flex; 
}
footer .fnb .lan-sns {
  flex: 2;
  margin-top: 50px;
}
footer .fnb ul {
  flex: 1;
  line-height: 2;
}


footer .fnb .lan-sns .lan a {
  display: flex;  
}
footer .fnb .lan-sns .lan a img {
  height: 20px;
}
footer .fnb .lan-sns .lan a span {
  margin: 0 10px;
}
footer .fnb .lan-sns .sns {
  font-size: 25px;
  margin-top: 70px;
}
footer .fnb .lan-sns .sns a {
  margin-right: 20px;
}


footer .fnb ul li:first-child {
  color: #5865f2;
  margin: 30px auto;
}

footer .fnb ul li a:hover {
  text-decoration: underline;
}


footer .inner-footer {
  width: 84%;
  margin: 0 auto;
  padding: 30px 0 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .inner-footer .footer-logo {
  width: 150px;
}
footer .inner-footer .signup .signup-txt {
  background: #5865f2;
  color: #fff;
  font-weight: 700;
  width: 40px;
  padding: 10px 20px;
  border-radius: 20px;
}

footer .inner-footer .signup:hover .signup-txt {
  background: #8891f2;
}